*.txt
reconstructed.png
image_palettized_reconstructed.png
tests
compig
env
validation
dataset
*.h5
*.h
*.so
testlora
outputs
outputs_go
*.jpg
*.png
tmp
*.zip
*.joblib
.env
output*
dl
.auto.deps
.config.cmd
.config.old
..config.tmp
*.depend
*.o
*.patch
*.diff
*.orig
*.rej
*~
*.pyc
buildroot
!media/*